{% extends 'star/base.html' %}
{% load static %}

{% block content %}
<link type="text/css" href="{% static 'star/css/addpage.css' %}" rel="stylesheet">

<form action="" method="post">
    {% csrf_token %}
    <div class="form-container">
    <h2 class="form-title">Добавить рецепт</h2>
    <div class="form-row">
        <label class="form-label" for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
        {{ form.title }}
        <div class="form-error">{{ form.title.errors }}</div>
    </div>
    <div class="form-row">
        <label class="form-label" for="{{ form.slug.id_for_label }}">{{ form.slug.label }}</label>
        {{ form.slug }}
        <div class="form-error">{{ form.slug.errors }}</div>
    </div>
    <div class="form-row">
        <label class="form-label" for="{{ form.game.id_for_label }}">{{ form.game.label }}</label>
        {{ form.game }}
        <div class="form-error">{{ form.game.errors }}</div>
    </div>
    <div class="form-row">
        <label class="form-label" for="{{ form.ingredients.id_for_label }}">{{ form.ingredients.label }}</label>
        {{ form.ingredients }}
        <div class="form-error">{{ form.ingredients.errors }}</div>
    </div>
    <div class="form-row">
        <label class="form-label" for="{{ form.effect.id_for_label }}">{{ form.effect.label }}</label>
        {{ form.effect }}
        <div class="form-error">{{ form.effect.errors }}</div>
    </div>
    <div class="form-row">
        <label class="form-label" for="{{ form.preparation.id_for_label }}">{{ form.preparation.label }}</label>
        {{ form.preparation }}
        <div class="form-error">{{ form.preparation.errors }}</div>
    </div>
    <div class="form-row">
        <label class="form-label" for="{{ form.cat.id_for_label }}">{{ form.cat.label }}</label>
        {{ form.cat }}
        <div class="form-error">{{ form.cat.errors }}</div>
    </div>
    <button type="submit" class="form-submit">Отправить</button>
</div>
</form>
{% endblock %}