{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'star/css/style.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}" class="logo">The magical world | {{ title }}</a>
            <div class="nav-links">
                <a href="{% url 'home' %}">Главная</a>
                <a href="{% url 'about' %}">О нас</a>
                <a href="{% url 'catalog' %}">Рецепты</a>
                <a href="{% url 'addpage' %}">Добавить рецепт</a>
                <a href="{% url 'users:login' %}"">Авторизация</a>
            </div>
        </nav>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="footer-links">
            <a href="#">Политика конфиденциальности</a>
            <a href="#">Условия использования</a>
        </div>
        <p>© 2025 Игровые рецепты. Все права защищены.</p>
    </footer>
</body>
</html>