{% extends 'star/base.html' %}
{% load static %}
{% block content %}
<section class="recipes-section">
    <link type="text/css" href="{% static 'star/css/catalog.css' %}" rel="stylesheet">
    <h1 class="section-title">Лучшие рецепты</h1>
    
    <div class="recipes-grid">
        {% for recipe in recipes %}
        <div class="recipe-card">
            <div class="recipe-header">
                <h2>{{ recipe.title }}</h2>
                <span class="game-badge">{{ recipe.game }}</span>
            </div>
            
            <div class="recipe-content">
                <div class="ingredients">
                    <h3>Ингредиенты:</h3>
                    <ul>
                        {% for ingredient in recipe.ingredients %}
                        <li>{{ ingredient }}</li>
                        {% endfor %}
                    </ul>
                </div>
                
                <div class="recipe-effects">
                    <h3>Эффект:</h3>
                    <p>{{ recipe.effect }}</p>
                </div>
            </div>
            
            <div class="recipe-footer">
                <div class="preparation">
                    <h3 >Способ приготовления:</h3>
                    <p>{{ recipe.preparation }}</p>
                    <a href="{% url 'recipe' recipe.id %}" class="details-btn">
                        <span>Подробнее</span>
                        <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                            <path d="M5 12h14M12 5l7 7-7 7"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>


{% endblock %}